# Hamming Distance

## Hamming distance between two vectors is simply the sum of corresponding elements that differ between the vectors.

In [2]:
import numpy as np
from scipy.spatial.distance import hamming

import warnings
warnings.filterwarnings("ignore") 

# yfinance is used to fetch data 
import yfinance as yf
yf.pdr_override()

In [3]:
symbol = 'AMD'


# Read data 
dataset = yf.download(symbol)

# View Columns
dataset.head()

[*********************100%***********************]  1 of 1 completed

            Open      High       Low     Close  Adj Close  Volume
Date
1980-03-17   0.0  3.302083  3.125000  3.145833   3.145833  219600
1980-03-18   0.0  3.125000  2.937500  3.031250   3.031250  727200
1980-03-19   0.0  3.083333  3.020833  3.041667   3.041667  295200
1980-03-20   0.0  3.062500  3.010417  3.010417   3.010417  159600
1980-03-21   0.0  3.020833  2.906250  2.916667   2.916667  130800

In [4]:
dataset.tail()

                 Open       High        Low      Close  Adj Close     Volume
Date
2022-10-31  60.750000  61.860001  59.529999  60.060001  60.060001   73274100
2022-11-01  61.490002  61.990002  59.430000  59.660000  59.660000   83806700
2022-11-02  63.000000  63.930000  58.570000  58.630001  58.630001  142669400
2022-11-03  58.110001  62.279999  58.029999  60.110001  60.110001   95279900
2022-11-04  62.500000  63.000000  60.540001  61.590000  61.590000   18387279

In [5]:
dataset = dataset.drop(['Adj Close', 'Volume'], axis=1)
dataset.head()

            Open      High       Low     Close
Date
1980-03-17   0.0  3.302083  3.125000  3.145833
1980-03-18   0.0  3.125000  2.937500  3.031250
1980-03-19   0.0  3.083333  3.020833  3.041667
1980-03-20   0.0  3.062500  3.010417  3.010417
1980-03-21   0.0  3.020833  2.906250  2.916667

In [6]:
def hamming_distance(x, y):

    hamming_d = hamming(x, y) * len(x)
    return hamming_d

In [7]:
Open = np.array(dataset['Open'])

In [8]:
Close = np.array(dataset['Close'])

In [9]:
Open

array([ 0.        ,  0.        ,  0.        , ..., 63.        ,
       58.11000061, 62.5       ])

In [10]:
Close

array([ 3.14583302,  3.03125   ,  3.04166698, ..., 58.63000107,
       60.11000061, 61.59000015])

In [11]:
hamming_distance(Open, Close)

10132.0