# Polynomial Stock of Historical Data

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from numpy.polynomial.chebyshev import chebfit,chebval
import pandas as pd

import warnings
warnings.filterwarnings("ignore") 

# yfinance is used to fetch data 
import yfinance as yf
yf.pdr_override()

In [2]:
# input
symbol = 'AMD'

# Read data 
dataset = yf.download(symbol)

# View Columns
dataset.head()

[*********************100%***********************]  1 of 1 completed

            Open      High       Low     Close  Adj Close  Volume
Date
1980-03-17   0.0  3.302083  3.125000  3.145833   3.145833  219600
1980-03-18   0.0  3.125000  2.937500  3.031250   3.031250  727200
1980-03-19   0.0  3.083333  3.020833  3.041667   3.041667  295200
1980-03-20   0.0  3.062500  3.010417  3.010417   3.010417  159600
1980-03-21   0.0  3.020833  2.906250  2.916667   2.916667  130800

In [3]:
dataset.tail()

                 Open       High        Low      Close  Adj Close     Volume
Date
2022-10-31  60.750000  61.860001  59.529999  60.060001  60.060001   73274100
2022-11-01  61.490002  61.990002  59.430000  59.660000  59.660000   83806700
2022-11-02  63.000000  63.930000  58.570000  58.630001  58.630001  142669400
2022-11-03  58.110001  62.279999  58.029999  60.110001  60.110001   95279900
2022-11-04  62.500000  63.000000  60.540001  62.465000  62.465000   23420791

In [4]:
y = np.array(dataset['Adj Close'])

In [5]:
len(y)

10753

In [6]:
x = np.arange(len(y))
c = chebfit(x, y, 30)

In [7]:
p = []
for i in np.arange(len(y)):
    p.append(chebval(i, c))

In [8]:
df = pd.DataFrame(data={'x': x, 'y': y, 'p': p})
df['diff'] = df['y'] - df['p']

In [ ]:
sns.set(rc={'figure.figsize':(14,10)})
sns.pointplot(x = 'x', y = 'y', data=df, color='green')
sns.pointplot(x = 'x', y = 'p', data=df, color='red')
sns.pointplot(x = 'x', y = 'diff', data=df, color='blue')